{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h2>Test blog</h2>
        <p>
            Hier komt een testblog om Symfony en Tabler te oefenen.
        </p>
    </div>
</div>
{% endblock %}
