{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h2>Welkom op Blogr_ :)</h2>
            <p>
                Op deze oefensite oefen ik de basis van Symfony door een blogging site te maken met een vote systeem geinspireerd op reddit.com. :)
            </p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}