{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title">
            {% if pageTitle is defined %}
                {{ pageTitle }}
            {% endif %}
        </h1>
        <div class="page-options d-flex row">
            {% if post.user == user %} <!-- todo: zorg er voor dat alleen de auteur dit mag zien -->
                    <a href="/blog/delete/{{ post.id }}" class="btn btn-sm btn-outline-danger">Delete</a>
            {% endif %}
        {% include('voteblock.html.twig') %}
        </div>
    </div>
    <div class="row row-cards row-deck">
        <div class="card">
            <div class="card-body">
                {{ post.content | raw }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}